div.shipment h1 {
  color:#FFF;
  background-color:#2080AD;
  font-family: Helvetica, Arial, sans-serif;
  display:inline-block;
  font-weight:bold;
  padding:2px 5px;
  text-shadow: 0 1px 0 #ccc, 
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

div.shipment a {
  color:#2080AD;
}

div.shipment ul {
  list-style: none;
}


body.overview div.flow {
  margin:10px;
}
body.overview div.shipment {
  margin:0 20px;
}


body.overview .mail, body.overview .shipment {
  border:1px solid #CCC;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  margin:0 0 10px 0;
}
body.overview .events {
  margin-left:10px;
}
body.overview .events time {
  font-size:0.9em;
  color:#AAA;
}
body.overview .events li{
  margin-top:15px;
}
body.overview div.debug {
  display:block;
  font-size:0.8em;
  background-color:#F7F7F7;
}

body.overview a.toggle {
  font-size:0.8em;
}
body.overview a.toggle.debug {
  display:block;
  color:#CCC;
  padding:0 0 0 10px;
  text-align:left;
  text-decoration:none;
}
body.overview a.toggle.debug:hover {
  background-color:#AAA;
  color:#FFF;
}
body.overview .details {
  background-color:#F8F8F8;
  padding:5px 0;
}
body.overview .mail .body {
  padding:10px;
}
body.overview .details span {
  color:#AAA;
  text-transform:lowercase;
  display:inline-block;
  width:70px;
  text-align:right;
  margin-right:10px;
}

ul {
  font-size:40px;    
	padding:0;
	margin:0;
	height:3.5em;
	clear:both;
	display:inline-block;
}

li.letter {
	display:inline-block;
	height:2.2em;
	line-height:2.3em;
	margin:0 0 0 0;
	padding:3px;
	position:relative;
	width:2em;	
	-moz-transform-style: preserve-3d;
	-moz-transition-property: -moz-transform:;
	-moz-perspective:600;

	/* Ensure that the card lives correctly in 3D space */
  -webkit-transform-style: preserve-3d;
  /* We apply this property to the card so it can smoothly flip between its sides */
  -webkit-transition-property: -webkit-transform;
  /* Make the animation occur over a period of 1.5 seconds */

  -webkit-perspective:600;
}

li.letter:before {
  content:"";
  border-top:1px solid #222;
  display:block;
  position:relative;
  top:49%;
  z-index:5;
}

li.letter span {
	padding:0 0.1em;
	font-size:2em;
	font-weight:bold;
	font-family: Helvetica, sans-serif;
	display:block;
	position:absolute;
	left:0;
	height:100%;
	top:0;
	bottom:0;
	right:0;
/*	background-color:#000;*/

	color:#FFF;
	z-index:1;
	text-transform:uppercase;
	text-align:center;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
  
	border-top:1px solid #676767;	
	border-right:1px solid #676767;	
	
  border-left:1px solid #343434;  

	backface-visibility:hidden!important;
	-moz-backface-visibility: hidden!important;
	-webkit-backface-visibility: hidden!important;
}

li.f  {
	-moz-transition:all 0.5s linear 0.4s;
	-moz-transform: rotateX(1009180deg);

	-webkit-transition:all 0.5s linear 0.4s;
	-webkit-transform: rotateX(1009180deg);

	transition: all 0.5s linear 0.4s;
	transform: rotateX(1009180deg);
}

li.letter span.front {
  -webkit-box-shadow: 2px 5px #191919;

}
li.letter span.back {
	-webkit-transform: rotateX(180deg);
}