@import "mixins";

#container {
  margin-left:auto;
  margin-right:auto;
}


header {
  padding:10px 0;
  background-color: #5b2e5a;
  overflow:hidden;
  .inner {
    position:relative;
    text-align:left;
  }
  h1 {
    @include box-sizing(border-box);
    white-space:nowrap;
    color:#CCC;
    float:left;
    padding-left:0;
  }
  h1:after {
    content:" /";
  }

  h1, .search-container input {

    text-transform:uppercase;
    margin:0;
    padding:0;
    height:50px;
    font-weight:bold;
    font-size:30px;
    line-height:50px;
  }

  .search-container {
    @include box-sizing(border-box);
    margin-left:10px;
    display:inline-block;
    width:100%;
    input {
      text-transform:uppercase;
      @include box-sizing(border-box);
      z-index:2;
      padding:inherit 5px;
      padding-left:10px;

      width:500px;
      background-color:transparent;
      color:#FFF;
    }
  }
}

header {
  @include transition(all ease-out 0.2s);
  height:50px;
}
.full-screen header {
  padding-top:100px;
  height:1000px;
}

header .inner {
  white-space:nowrap;
}

.inner {
  @include box-sizing(border-box);

  width:700px;
  margin-left:auto;
  margin-right:auto;
}

.shipment.loading:after {
  content:"loading";
}
