<!DOCTYPE html>
<html>
<head>
  <title>Box Watch</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_classes %>">
<header>
  <h1>boxwat.ch</h1>
  <nav></nav>
</header>
<div id="container">
  
</div>
<footer>
  
</footer>
</body>
</html>
